APP_NAME=Restaura-Scan
APP_ENV=local
APP_KEY=base64:PYUbFfOhzZJG8cTgTzXWpVDFkc3p7IZv58P4dLHkEKA=
APP_DEBUG=true
# APP_URL=http://localhost
APP_URL=https://api.restaurascan.com
# APP_URL=http://localhost:8000
FRONT_CLIENT_URL=https://menu.restaurascan.com
CLIENT_FRONTEND_URL=https://menu.restaurascan.com
CORS_ALLOWED_ORIGINS=https://restaurant.restaurascan.com,http://restaurant.restaurascan.com,https://admin.restaurascan.com,http://admin.restaurascan.com,http>
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
# DB_HOST=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=restaurascan
DB_USERNAME=restaurascan_user
DB_PASSWORD=RestauraScan2026!

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=restaurascan_cache
SAAS_PLANS_CACHE_SECONDS=300

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
# Docker: REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=henandombele8@gmail.com
MAIL_PASSWORD=kefrjvvamkvbzjun
MAIL_ENCRYPTION=tls
MAIL_TIMEOUT=5
MAIL_FROM_ADDRESS=henandombele8@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
REVERB_APP_ID=e-resto
REVERB_APP_KEY=e-resto-key
REVERB_APP_SECRET=e-resto-secret
REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080

MAISHAPAY_BASE_URL=https://marchand.maishapay.online
MAISHAPAY_GATEWAY_MODE=1
MAISHAPAY_MOCK=false
MAISHAPAY_PUBLIC_KEY="MP-LIVEPK-Y0G200JqA.Mj18m$yJgJo8.2jyJGQ0tvHK1k.kIkYSeGJD.NE.5Le70x2yHNG2jbWmcKcsXBQTMtXeRt1e4$xEuW2Y7vUy.24DujWJP$XSWfY$yWY0$NZ$0."
MAISHAPAY_SECRET_KEY="MP-LIVESK-/yg/2SDW/M0$PEuwuecsTf$BkbK30GnI1i$RuQzHtRCHU$u5$HJbyv$5Yu45DDsaMjZSVbh.75N2QEOWpCGPZgKtPrwUyzUZpVvx/VqY//0XA1wE25b56Gpn"
MAISHAPAY_CALLBACK_URL="${APP_URL}/api/saas/payment-callback"






