<button type="button" class="btn btn-primary text-black" data-bs-toggle="modal" data-bs-target="#addInventoryModal">
    <i class="ti ti-plus me-1"></i> Créer une catégorie
</button>

<div class="modal fade" id="addInventoryModal" tabindex="-1" aria-labelledby="addInventoryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 shadow text-start">

            <div class="modal-header">
                <div>
                    <h5 class="modal-title fs-3 mb-1" id="addInventoryModalLabel" style="font-weight: bolder">Créer une catégorie</h5>
                    <p class="mb-0 text-muted small">Gérez votre catégorie</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-4">
                <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" id="addProductForm">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="productName" class="form-label">Nom de la catégorie <span
                                    style="color:red">*</span></label>
                            <input type="text" class="form-control" id="productName" formControlName="name"
                                   (input)="clearDuplicateNameError()"
                                   placeholder="Saisissez le nom de la catégorie">
                            @if (categoryForm.get('name')?.hasError('duplicate') && categoryForm.get('name')?.touched) {
                                <small class="text-danger">Une catégorie avec ce nom existe déjà.</small>
                            } @else if (categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched) {
                                <small class="text-danger">Le nom est requis.</small>
                            }
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image de la catégorie <span style="color:red">*</span></label>
                        <input type="file" class="form-control" id="image" accept="image/*"
                               (change)="onFileSelected($event)">

                        @if (!selectedFile && categoryForm.get('name')?.touched) {
                            <small class="text-danger d-block">Veuillez sélectionner une image.</small>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="categoryDescription" class="form-label">Description <span style="color:red">*</span></label>
                        <textarea class="form-control" id="categoryDescription" formControlName="description" rows="4"
                                  placeholder="Saisissez la description de la catégorie"></textarea>
                        @if (categoryForm.get('description')?.invalid && categoryForm.get('description')?.touched) {
                            <small class="text-danger">La description est requise.</small>
                        }
                    </div>
                </form>
            </div>

            <div class="modal-footer d-flex gap-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle me-1"></i> Annuler
                </button>

                <button type="submit"
                        form="addProductForm"
                        class="btn btn-primary text-black"
                        [disabled]="categoryForm.invalid || !selectedFile || isLoading">

                    @if (isLoading) {
                        <span class="spinner-border spinner-border-sm me-1"></span>
                    } @else {
                        <i class="bi bi-plus-circle me-1"></i>
                    }

                    Créer une catégorie
                </button>
            </div>
        </div>
    </div>
</div>
