<aside id="sidebar" class="sidebar" [class.collapsed]="isSidebarCollapsed" [class.mobile-show]="isMobileSidebarOpen">
    <div class="logo-area">
        <a routerLink="/" class="d-inline-flex" (click)="closeMobileSidebar()">
            <span class="logo-text ms-2"><img src="assets/logo/e-resto-logo.png" alt="" width="50" style="border-radius: 50%"></span>
            <h3 style="font-weight: bold;">E-RESTO</h3>

        </a>
    </div>
    <ul class="nav flex-column">
        <li class="px-4 py-2"><small class="nav-text"></small></li>
        <li><a routerLink="/dashboard" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="nav-link" (click)="closeMobileSidebar()"><i class="ti ti-home"></i><span class="nav-text">Dashboard</span></a></li>
        <li><a routerLink="/agents/list-agent" routerLinkActive="active" class="nav-link" (click)="closeMobileSidebar()"><i class="ti ti-box-seam"></i><span class="nav-text">Agents</span></a></li>
        <li><a routerLink="/category/list-category" routerLinkActive="active" class="nav-link" (click)="closeMobileSidebar()"><i class="ti ti-plus"></i><span class="nav-text">Category</span></a></li>
        <li><a routerLink="/currency/list-currency" routerLinkActive="active" class="nav-link" (click)="closeMobileSidebar()"><i class="ti ti-receipt"></i><span class="nav-text">Currency</span></a></li>
        <li><a routerLink="/dish/list-dish" routerLinkActive="active" class="nav-link" (click)="closeMobileSidebar()"><i class="ti ti-alert-circle"></i><span class="nav-text">Dish</span></a></li>
        <li class="px-4 pt-4 pb-2"><small class="nav-text">IDENTITY</small></li>
        <li><a routerLink="/identity/list-roles" routerLinkActive="active" class="nav-link" (click)="closeMobileSidebar()"><i class="ti ti-file-text"></i><span class="nav-text">Roles</span></a></li>
        <li><a routerLink="/identity/list-users" routerLinkActive="active" class="nav-link" (click)="closeMobileSidebar()"><i class="ti ti-users"></i><span class="nav-text">Users</span></a></li>

    </ul>
</aside>
